.bg-body-light {
    background-color: #10003b; 
    color: #000000; 
}

.bg-body-dark {
    background-color: #333333; 
    color: #ffffff; 
}

.link-dark-home, .link-dark-acc, .link-dark-shop {
    color: #dddddd;
    font-weight: bold;
}

.link-dark-home, .link-light-home {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
}

.link-dark-home:hover, .link-dark-acc:hover, .link-dark-shop:hover {
    color: #ffffff;
}

.link-light-home, .link-light-acc, .link-light-shop {
    color: #ffffff; 
    font-weight: bold;
}

.link-light-home:hover, .link-light-acc:hover, .link-light-shop:hover {
    color: #dddddd; 
}
